.navbar-1st-bg {
    background-color: #161e30;
}

.nav-item-color {
    color: white !important;
    font-size: 13px;
}

.nav-link-bg1 {
    background-color: rgba(255, 255, 255, 0.2);
    border-top: 3px solid #c7193f;
}

.nav-link-bg {
    transition: background-color 1s ease 0s;
}

.nav-link-bg:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-direction {
    direction: rtl;
}

.psg-logo {
    width: 42px;
}

.navbar-hover {
    transition: color 280ms linear 0s;
}

.navbar-hover:hover {
    color: #c7193f;
}

.navbar-3rd {
    justify-content: center !important;
    padding-bottom: 15px;
}

.navbar-3rd-a {
    font-size: 16px;
    transition: all 850ms ease-out 0s;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.navbar-3rd-a:hover {
    border-bottom: 2px solid gray;
}

.pseudo-link {
    width: 100%;
    background-color: #161e30;
}

.image-transform {
    transition: all 1s ease 0s;
}

.image-transform:hover {
    transform: scale(1.1);
}

.pseudo-link-a {
    height: 300px;
}

.pseudo-link-p {
    padding-top: 80px;
    padding-left: 30px;
    font-size: 12px;
    color: #c7193f;
}

.pseudo-link-p2 {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: 25px;
}

.pseudo-link-p3 {
    padding-left: 30px;
    padding-top: 20px;
}

.border-span {
    width: 50px;
    border-top: 1px solid #c7193f;
    padding-bottom: 7px;
}

.border-span2 {
    width: 15px;
    height: 15px;
    border-top: 1px solid #c7193f;
    border-right: 1px solid #c7193f;
    transform: rotate(45deg);
    margin-left: -17px;
}

.first-team11 {
    color: #ff1541;
    font-size: 12px;
    padding-right: 5px;
}

.border11 {
    color: #989898;
    font-size: 12px;
    padding-right: 5px;
}

.time11 {
    color: #989898;
    font-size: 14px;
}

.first-team-p {
    font-size: 18px;
}

.box-first-team {
    height: 70px;
    border-left: 5px solid #e8e8e8;
}

.hor-box-first-team {
    border-bottom: 1px solid #e8e8e8;
}

.hor2-first-team-box {
    border-bottom: 1px solid #e8e8e8;
}

.row-color-3rd {
    background-color: #f4f4f4;
}


.shop-now-color {
    color: #ff1541;
}

.shop-now-color:hover {
    color: #ff1541;
}

.view-more {
    display: flex;
    justify-content: center;
}

.view-more-span1 {
    color: #b5b5b5;
    font-size: calc(10px + 0.1vw);
}

.view-more-span {
    font-size: calc(10px + 0.1vw);
}

.psg-tv {
    background-color: #0c1324;
    margin-top: 60px;
}

.sponsored {
    color: #676b76;
    font-size: 11px;
}

.hor2-first-team-box2 {
    border-bottom: 1px solid #1e2534;
}

.input {
    font-size: calc(13px + 0.5vw);
    height: 50px;
    background-color: #1a2434;
    color: white;
    border-radius: 2px;
    justify-content: center;
}

.input:hover {
    background-color: #232b39;
    color: white;
}

.background-row {
    width: 100%;
    height: 100vh;
    border: 1px solid #3d3f4c;
    background-image: url("../images/back-br.jpg");
    background-repeat: round;
    background-size: cover;
    text-align: center;
}

.background-1st {
    margin-top: 50px;
}

.background-1st-span {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-right: 15px;
}

.background-2nd-span {
    color: #c9ad67;
    font-weight: bold;
    font-size: 20px;
}

.background-2nd {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 40px;
}

.check-span {
    color: #c9ad67;
    font-weight: bold;
    font-size: 20px;
    padding-right: 5px;
}

.check2-span {
    color: white;
    font-size: 18px;
}

.input2 {
    font-size: calc(13px + 0.5vw);
    height: 50px;
    background-color: #c9ad67;
    color: white;
    border-radius: 2px;
    justify-content: center;
}

.input2:hover {
    background-color: #c4b07c;
    color: white;
}

.slider1 {
    background-color: #f4f4f4;
}

.discover {
    width: 100%;
    background-image: url("../images/discover-myparis.jpg");
    background-repeat: round;
    background-size: cover;
}

.discover1 {
    width: 100%;
    background-image: url("../images/discover-children-first.jpg");
    background-repeat: round;
    background-size: cover;
}

.discover2 {
    width: 100%;
    background-image: url("../images//discover-carte-blanche.jpg");
    background-repeat: round;
    background-size: cover;
}

.discover-a {
    color: #fe204a;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px solid #fe204a;
}

.discover-a:hover {
    color: #fe204a;
}

.discover-background {
    background-color: #f4f4f4;
}

.footer-background {
    background-color: #151e2d;
}

.footer-logo {
    width: 50px
}

.footer-border {
    width: 90%;
    border-bottom: 2px solid #ff1541;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width:575px) {

    .footer-logo {
        width: 10px
    }

}

@media all and (min-width:576px) and (max-width:767px) {

    .footer-logo {
        width: 30px
    }

}

@media all and (min-width:768px) and (max-width:991px) {}

@media all and (min-width:992px) and (max-width:1199px) {

    .footer-logo {
        width: 60px
    }

}

@media all and (min-width:1200px) and (max-width:1399px) {

    .footer-logo {
        width: 70px
    }

}

@media all and (min-width:1400px) {

    .footer-logo {
        width: 80px
    }

}